<div class="flex flex-row w-full h-full">
  <ng-template [ngIf]="!gifService.noGifsFound">
    <div class="flex flex-col lg:flex-row justify-evenly items-center h-full w-auto m-auto min-w-half">
      <div *ngIf="currentGif" class="lg:flex lg:flex-col hidden h-1/6">
        <div class="cursor-pointer flex justify-center items-center">
          <svg-icon class="selected-color max-w-75" key="arrow-left-bold-box" (click)="previousGif()"
            fontSize="4rem"></svg-icon>
        </div>
      </div>

      <div *ngIf="currentGif" class="flex flex-col justify-center items-center h-4/6 w-full">
        <img class="rounded-lg m-auto max-w-75 max-h-75" [src]="currentGif">
      </div>

      <div class="flex flex-row lg:flex-col h-1/6" *ngIf="currentGif">
        <div class="cursor-pointer hidden lg:flex justify-center items-start">
          <svg-icon class="selected-color max-w-75" key="arrow-right-bold-box" (click)="nextGif()"
            fontSize="4rem"></svg-icon>
        </div>
        <div class="pr-5 cursor-pointer lg:hidden inline-flex justify-center items-center">
          <svg-icon class="selected-color max-w-75" key="arrow-left-bold-box" (click)="previousGif()"
            fontSize="3rem"></svg-icon>
        </div>
        <div class="cursor-pointer lg:hidden inline-flex justify-center items-center">
          <svg-icon class="selected-color max-w-75" key="arrow-right-bold-box" (click)="nextGif()"
            fontSize="3rem"></svg-icon>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template [ngIf]="gifService.noGifsFound">
    <div class="flex flex-col w-full justify-center items-center">No gifs found</div>
  </ng-template>
</div>