
<div class="flex flex-col md:flex-row justify-evenly items-center h-100">
  <div class="flex flex-col">
    <div class="pr-5 cursor-pointer hidden md:flex">
      <svg-icon key="arrow-left-bold-box" (click)="prev()" fontSize="10vw"></svg-icon>
    </div>
  </div>
  <div class="flex flex-col justify-content-center items-center max-w-80-vw md:max-h-40-vh md:max-w-1/3-vw">
    <ng-container *ngIf="images.length !== 0; else keywordNotFound">
      <ngb-carousel
        #carousel
        [interval]="interval"
        [pauseOnFocus]="false"
        [animation]="false"
        [pauseOnHover]="false"
        [showNavigationArrows]="false"
        [showNavigationIndicators]="false"
        class="flex flex-col justify-center items-center h-auto">
        <ng-template ngbSlide *ngFor="let imageUrl of images">
          <img class="rounded-md" [src]="imageUrl" />
        </ng-template>
      </ngb-carousel>
    </ng-container>
  </div>
    <div class="flex flex-row md:flex-col">
      <div class="pl-5 cursor-pointer hidden md:flex">
        <svg-icon key="arrow-right-bold-box" (click)="next()" fontSize="10vw"></svg-icon>
      </div>

      <div class="pr-5 cursor-pointer md:hidden inline-flex">
        <svg-icon key="arrow-left-bold-box" (click)="prev()" fontSize="10vw"></svg-icon>
      </div>
      <div class="cursor-pointer md:hidden inline-flex">
        <svg-icon key="arrow-right-bold-box" (click)="next()" fontSize="10vw"></svg-icon>
      </div>
    </div>
  <ng-template #keywordNotFound>
    <div class="flex flex-col justify-center items-center">Keyword not found</div>
  </ng-template>
</div>
