/* /deep/ .carousel-item.active > img {
        border: 0.15em solid black;
        box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.6);
      } */

::ng-deep .carousel-inner {
  position: unset !important;
  width: 80vw !important;
  height: 40vh !important;
  overflow: unset !important;
  display: flex;
}

::ng-deep .carousel-item > img:focus,
.carousel-item,
ngb-carousel {
  outline: unset !important;
}

.fixed-top-right {
  top: 0;
  right: 0;
}

.full-height {
  height: 100vh;
}

.half-height {
  height: 50vh;
}

.full-width {
  width: 100vw;
}

.height-80 {
  height: 80vh;
}

.height-20 {
  height: 30vh;
}

.width-fit-content {
  width: fit-content;
}

.object-fit-contain-img {
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  height: auto
}

.svg-icon {
  width: 12%;
  height: auto;
  fill: white;
}

.svg-icon-padding-right {
  @extend .svg-icon;

  padding-right: 0.5rem;
}

.svg-icon-wrapper {
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
}

.svg-icon-padding-right-wrapper {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
