@import "~bootstrap/scss/bootstrap";
@import "src/styles.scss";

// .object-fit-contain-img {
//   object-fit: contain;
//   width: 100%;
//   max-height: 100%;
//   height: auto;
// }

.svg-icon {
  width: 3rem;
  height: auto;
  fill: var(--font-color);
}

.svg-icon-padding-right {
  @extend .svg-icon;

  padding-right: 0.5rem;
}

.svg-icon-wrapper {
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
}

.svg-icon-padding-right-wrapper {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.cursor-pointer:hover {
  cursor: pointer;
}

#settings-click > svg {
  fill: var(--font-color);
}

.btn-outline-black {
  @extend .btn-outline-dark;
}

.btn-outline-white {
  @extend .btn-outline-light;

  &:hover {
    background-color: $dark;
  }
}
