
<div class="flex flex-col md:flex-row justify-evenly items-center h-full w-full">
  <div class="flex-col hidden md:flex">
    <div class="cursor-pointer hidden md:flex">
      <svg-icon key="arrow-left-bold-box" (click)="slideshowService.previousGif()" fontSize="4rem" [color]="bgColor"></svg-icon>
    </div>
  </div>
  <!-- md:w-70-vw w-80-vw -->
  <div class="flex flex-col justify-center items-center carousel-img-wrapper">
    <img class="rounded-md" [src]="slideshowService.currentGif">
  </div>
    <div class="flex flex-row md:flex-col">
      <div class="cursor-pointer hidden md:flex">
        <svg-icon key="arrow-right-bold-box" (click)="slideshowService.nextGif()" fontSize="4rem" [color]="bgColor"></svg-icon>
      </div>

      <div class="pr-5 cursor-pointer md:hidden inline-flex">
        <svg-icon key="arrow-left-bold-box" (click)="slideshowService.previousGif()" fontSize="3rem" [color]="bgColor"></svg-icon>
      </div>
      <div class="cursor-pointer md:hidden inline-flex">
        <svg-icon key="arrow-right-bold-box" (click)="slideshowService.nextGif()" fontSize="3rem" [color]="bgColor"></svg-icon>
      </div>
    </div>
  <ng-template #keywordNotFound>
    <div class="flex flex-col justify-center items-center">Keyword not found</div>
  </ng-template>
</div>
