<div class="flex flex-col w-100 justify-center items-center">
  <div class="flex flex-col w-100 justify-center items-center">
    <h1>Guide</h1>
  </div>
  <div class="flex flex-col w-100 justify-center pt-10">
    <div class="md:flex hidden flex-row items-center pt-10">
      <svg-icon key="arrow-left-bold-box" fontSize="40px"></svg-icon>
      <div class="pl-2">Press arrow left on keyboard for previous gif</div>
    </div>
    <div class="md:flex hidden flex-row items-center pt-4">
      <svg-icon key="arrow-right-bold-box" fontSize="40px"></svg-icon>
      <div class="pl-2">Press arrow right on keyboard for next gif</div>
    </div>
    <div class="flex md:hidden flex-row items-center pt-4">
      <svg-icon key="gesture-swipe-right" fontSize="40px"></svg-icon>
      <div class="pl-2">Swipe left for previous gif</div>
    </div>
    <div class="flex md:hidden flex-row items-center pt-4">
      <svg-icon key="gesture-swipe-left" fontSize="40px"></svg-icon>
      <div class="pl-2">Swipe right for next gif</div>
    </div>
  </div>
</div>