<div class="flex flex-col h-100 gap-y-12">
  <div class="flex flex-col pt-20 justify-content items-center"><h1>Guide</h1></div>
  <div class="flex flex-col justify-center width-fit-content pt-12 gap-y-6">
    <div class="md:flex hidden flex-row items-center width-fit-content">
      <svg-icon key="arrow-left-bold-box" fontSize="40px"></svg-icon>
      <div class="pl-2">Press arrow left on keyboard for previous gif</div>
    </div>
    <div class="md:flex hidden flex-row items-center width-fit-content">
      <svg-icon key="arrow-right-bold-box" fontSize="40px"></svg-icon>
      <div class="pl-2">Press arrow right on keyboard for next gif</div>
    </div>
    <div class="flex md:hidden flex-row items-center width-fit-content">
      <svg-icon key="gesture-swipe-right" fontSize="40px"></svg-icon>
      <div class="pl-2">Swipe left for previous gif</div>
    </div>
    <div class="flex md:hidden flex-row items-center width-fit-content">
      <svg-icon key="gesture-swipe-left" fontSize="40px"></svg-icon>
      <div class="pl-2">Swipe right for next gif</div>
    </div>
  </div>
</div>
