<ng-container *ngIf="isAlternative(); else primary">
  <div class="flex flex-row justify-center items-center pb-8 h-auto pt-10">
    <button type="button" routerLink="/carousel">Go back to home</button>
  </div>
</ng-container>

<ng-template #primary>
  <div class="flex flex-row justify-center items-center h-auto gap-x-2 w-100">
    <input type="text" class="w-2/3" placeholder="Search for a gif" [(ngModel)]="keyword">
    <!-- TODO add accent color -->
    <ng-container *ngTemplateOutlet="guide"></ng-container>
    <svg-icon routerLink="/settings" key="cog" fontSize="40px" class="cursor-pointer color-hover"></svg-icon>
  </div>
</ng-template>

<ng-template #guide>
    <svg-icon routerLink="/guide" key="head-question" fontSize="40px" class="cursor-pointer color-hover"></svg-icon>
</ng-template>

